// FONTS
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;600;800&family=Montserrat:wght@200;400;600;800&display=swap');
$font-principal: 'Barlow Condensed', sans-serif;
$font-text: 'Montserrat', sans-serif;

// TEXT SIZING

// COLORS
$base: #FFFFFF;
$primary: #0C0C0C;
$primary-shadow: #292929;
$secondary: #F7CB15;
