@import '../../../../sass/Mixins.scss';
@import '../../../../sass/Variables.scss';

.add-client {
    background-color: $primary-shadow;
    padding: 3% 10%;
    font-family: $font-text;
    font-size: clamp(0.75rem, 2vw + 1rem, 1.563rem);
    @include flex(column, space-around, center, default);
    &-title {
        background-color: $primary;
        width: fit-content;
        min-width: 310px;
        padding: 10px 15px;
        font-size: clamp(0.75rem, 2vw + 1rem, 2.5rem);
        color: $base;
        border-radius: 15px;
        margin-bottom: 40px;
        font-family: $font-principal;
        text-align: center;
        box-shadow: 10px 10px 9px -3px rgba(0,0,0,0.4);
    }
    &-form {
        background-color: $primary;
        box-shadow: 10px 10px 9px -3px rgba(0,0,0,0.4);
        padding: 4vh 2.5vw;
        width: fit-content;
        border-radius: 20px;
        height: auto;
        .form-detail {
            @include flex(column, space-around, center, default);
            .form-input-container {
                min-height: 120px;
                height: auto;
                font-size: clamp(0.75rem, 2vw + 1rem, 1.563rem);
                .form-input-title{
                    color: $secondary;
                    font-size: clamp(0.75rem, 2vw + 1rem, 1.563rem);
                }
                .form-input {
                    background-color: $primary-shadow;
                    color: $base;
                    border: none;
                    border-radius: 10px;
                    width: 290px;
                    height: 50px;
                    padding: 10px 15px;
                    font-size: clamp(0.5rem, 1vw + 1rem, 1.563rem);
                }
                .form-error-message {
                    width: 290px;
                    height: auto;
                }
            }
            .form-button {
                width: 100%;
                background-color: $secondary;
                color: $primary;
                border: none;
                border-radius: 15px;
                height: 60px;
                &:hover {
                    border: solid 2px $secondary;
                    background-color: $primary-shadow;
                    color: $base;
                }
            }
        }
    }
}